.photo-grid {
  display: grid;
  gap: 16px;
  margin: 92px 48px 0;
  width: auto;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(3, max-content);
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  justify-items: center;
  align-items: center; 
  justify-content: center;
  align-content: center;
}