.intro {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  box-sizing: border-box;
  margin: 92px 0 0 148px;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .intro {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    margin:  92px 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin:  88px 48px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin:  64px 16px 0;
  }
}