.cover__overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgba(42, 44, 47, .3);
  transition: background-color .3s;
  background-position: top;
  text-decoration: none;
  color: #fff;
  min-height: 740px;
  height: 100%;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
}
}

@media screen and (max-width: 769px) {
  .cover__overlay {
    min-height: 480px;
}
}

@media screen and (max-width: 321px) {
  .cover__overlay {
    min-height: 200px;
}
}