.lead__caption {
  align-self: flex-start;
  padding: 0;
  margin: 6px 0 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(140%);
  letter-spacing: 1.5px;
}