.footer {
  display: flex;
  flex-direction: row;
  margin: 92px 48px 24px;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 24px;
}
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
}
}

@media screen and (max-width: 321px) {
  .footer {
    margin: 64px 16px 24px;
}
}