.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #AAAAAA;
  letter-spacing: 2px;
  margin: 0 0 12px;
  padding: 0;
  text-transform: uppercase;
}